{% extends 'base.html' %}
{% block content %}
{% load staticfiles %} 
{% load cropping %}

    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Buy Handcrafted Gift Cards for your Loved Ones with Personalised Messages.</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <div class="container">
        <h2 class="tselling"> Top Wishlisted Items in our website </h2>
        <div class="row">
            <!-- Card Projects -->
            {% for card in cards %}
           <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive"  width="488px" height="610px" src="{% cropped_thumbnail card "cropping"  %}">
                    </div>
                                    
                    <div class="card-action">
                    	<h4 class="text-primary" style="display:inline-block"> {{card.title}}</h4> <span class="label label-default pull-right"> For {{card.for_people}}</span>
                        <br/>
                        <h3> Price: {% if card.discount > 0 %} &#8377; <strike>{{card.prize}}</strike> {{card.diff}} {% else %} {{card.prize}} {% endif %}</h3>
                        <br/>
                        <a href="/items/1" target="new_blank" class="btn btn-primary btn-raised">view item</a>
                        <a href="/items/1" target="new_blank" class="btn btn-primary btn-raised">Add to cart</a>

                    </div>
                </div>
            </div>
            {% endfor %}
       </div>
    </div>


{% endblock content %}